@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(34, 34, 34);
    --second-bg-color: rgb(41, 41, 41);
    --txt-color: white;
    --main-color: rgb(17, 124, 167);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--txt-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 3rem 9%;
    background: var(--second-bg-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    opacity: 0.9;
}

.logo {
    font-size: 3.3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.06);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--txt-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.ativo {
    color: var(--main-color);
    /* border-bottom: 3px solid var(--main-color); */
}


/* .menu-icone {
    font-size: 2.6rem;
    color: var(--main-color);
    display: none;
} */

@media screen and (max-width:768px) {
    /* .menu-icone {
        display: block;
    } */
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: 0.1rem solid rgb(0, 0, 0);
        display: none;
    }
    .navbar.ativo {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.ativo {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--bg-color);
    padding-top: 5rem;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.1;
}

span {
    color: var(--main-color);
}


/* .home h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
} */


/* .home-img {
    border-radius: 50%;
} */

.home-img img {
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: cover;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 90px var(--main-color);
}

.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 40px var(--main-color));
    transition: 0.5s ease;
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 2.5rem 1.5rem 2.5rem 0;
    background: var(--bg-color);
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 1.5rem;
    color: var(--main-color);
    text-decoration: none;
    /* filter: drop-shadow(0 0 5px var(--main-color)); */
    cursor: pointer;
}

.social-icon a:hover {
    color: white;
    transform: scale(1)translateY(-3px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease;
}


/* .btn {
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
} */


/* .btn:hover {
    transform: scale(1.07);
    background-color: var(--main-color);
    color: var(--txt-color);
    box-shadow: 0 0 25px var(--main-color);
} */

.typing-text {
    font-size: 2.6rem;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: '';
    color: var(--main-color);
    animation: words 8s infinite;
}

.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -6px;
    animation: cursor 0.8s infinite, typing 20s steps(20) infinite;
    white-space: nowrap;
}

@keyframes cursor {
    0% {
        border-left: 3px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    50% {
        content: 'Desenvolvedora Full Stack';
    }
    51%,
    100% {
        content: 'Estudante universitária';
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

@media screen and (max-width:768px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
        gap: 4rem;
    }
    .home .home-content h3 {
        font-size: 2rem;
    }
    .home .home-content p {
        font-size: 1.5rem;
    }
    .home .home-content h1 {
        font-size: 4rem;
    }
    .home-img img {
        /* display: none; */
        width: 45vw;
        height: 45vw;
        margin-top: 4rem;
    }
}

.projects {
    background-color: var(--second-bg-color);
    box-shadow: 0 0 6px rgb(36, 36, 36);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 6rem;
}

.project-box {
    background-color: var(--main-color);
    height: 30rem;
    border-radius: 7%;
    cursor: pointer;
    overflow: hidden;
}

.project-box:hover {
    background: transparent;
    /* box-shadow: inset 0 0 0 0.1rem var(--main-color); */
    transform: scale(1.03);
    box-shadow: 0 0 30px var(--main-color);
    transition: 0.3 ease;
    color: var(--main-color);
}

.project-box .project-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-height: 150px; */
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    margin: 2rem 3rem;
}

.project-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-info p {
    font-size: 1.5rem;
    font-weight: 400;
    /* max-height: 100px; */
    margin: auto;
}

.heading {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    /* -webkit-text-stroke: 1px black; */
}

@media screen and (max-width:768px) {
    .projects h2 {
        margin-bottom: 3rem;
    }
    .projects-container {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .home-content p {
        margin-top: 3rem;
    } */
}

.skills {
    background: var(--bg-color);
}

.skills .container {
    background: rgba(17, 125, 167, 0.205);
    border-radius: 1rem;
    padding: 2rem;
    /* width: 70%; */
    margin: auto;
    margin-top: 2rem;
}

.skills .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills .container .bar {
    margin-bottom: 6px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0px 0px 6px var(--main-color);
    transition: 0.3 ease;
    cursor: pointer;
}

.skills .container .bar:hover {
    box-shadow: 0px 4px 25px var(--main-color);
    transform: scale(1.03);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .container .bar .info img {
    width: 5rem;
}

.skills .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

@media screen and (max-width:768px) {
    .skills .container {
        padding: 0;
        margin-top: 5px;
    }
    .skills .container .row {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem;
        gap: 1rem;
    }
}

.educacao {
    background: var(--second-bg-color);
}

.educacao .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.educacao .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: rgba(17, 125, 167, 0.205);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.educacao .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.educacao .container::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: rgb(100, 198, 255);
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 99;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: rgb(0, 0, 0);
}

.educacao .left {
    left: -8rem;
}

.educacao .right {
    left: 50%;
}

.educacao .left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--main-color);
}

.educacao .right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--main-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--main-color) transparent transparent;
}

.educacao .right::after {
    left: -16px;
}

.educacao .left::after {
    right: -16px;
}

.educacao .content {
    background: var(--main-color);
    position: relative;
    border-radius: 6px;
}

.educacao .content .tag {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.educacao .content .desc {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}

.educacao .content .tag h3 {
    font-size: 1.9rem;
    font-weight: 600;
    color: rgb(17, 17, 17);
}

.educacao .content .desc p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--bg-color);
}

.educacao .content .desc span {
    color: rgb(17, 17, 17);
}

@media screen and (max-width:768px) {
    .educacao .timeline::after {
        left: 10%
    }
    .educacao .right {
        left: 10%;
    }
    .educacao .left {
        left: 10%;
    }
    .educacao .left::before {
        content: '';
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid var(--main-color);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--main-color) transparent transparent;
    }
    .educacao .left::after {
        left: -16px;
    }
    .educacao .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 80%;
    }
}